h1{
	font-size: 200%;
	font-family: 'Dosis', sans-serif;
	border-bottom: 3px solid #00061E;
	padding: 5px;
}

h2{
	font-size: 140%;
	font-family: 'Dosis', sans-serif;
	border-bottom: 1px solid #00061E;
/*	box-shadow: 0 1px 0 #171E41;/*#2E3454;
	text-shadow: -1px 1px 0 rgba(0,0,0,1);
*/
}

h3{
	font-size: 80%;
}
body {
	background-color: #FEF8E9;/*#171E41;*/
	font-size: 140%;
	color: #00082F; /* sakura FBDADE*/
	font-family: 'Dosis', sans-serif;
	font-weight: light;
	margin: 20;
	line-height: 140%
}

p {
	padding-left: 10px;
}

dl {
	padding-left: 15px;
}

li {
	margin-bottom: 10px;
}

ul li {
		position: relative;
  list-style-type: none;
  padding: 0px 10px 0px 8px;
}

ul li::after {
/*	display: block;   content: "";
	position: absolute;
    top: 2;
    left: 0;
    width: 4px;
    height: 20px;
    background: #C8C8D1;
    border-right: 1px solid #5C617A;
    transition: .3s;
    z-index: -1; */
	display: block;
	content: '';
	position: absolute;
	top: .7em;
	left: -1em;
	width: 14px;
	height: 0.3px;
	border-right: 0.1px solid #00082F;
	border-bottom: 1px solid #00082F;
	border-left: 0.5px solid #FEFBF5;
	border-top: 0.5px solid #FEFBF5;
/*	-webkit-transform: rotate(-45deg);
	transform: rotate(-40deg);  */
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #FBDADE;
}

a {
	color: #F7717D; /*#B96AC9; /*#5941A9; /* #BDC0F8;  /* #AFB3F7; #9893DA #BBBDF6*/ 
	text-decoration:none;
}

a:hover {
	font-weight: bold;
	color: #0A2463; /*#79B791 /*#97DFFC;*/
}

.fade-2 {
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    hsla(330, 100%, 93%, 0.8),
    hsla(330, 100%, 93%, 0.4) 50%,
    hsla(330, 100%, 93%, 0) 90%) 0 0 100%;
  border-style: solid;
}

.fade-3 {
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    hsla(330, 100%, 93%, 0.8),
    hsla(330, 100%, 93%, 0.4) 50%,
    hsla(330, 100%, 93%, 0) 90%) 0 0 100%;
  border-style: solid;
}


.accent {
	color: #FF64B1;
}

/*.sidebar {
			font-family: 'Dosis', sans-serif;
			font-size: 130%;
}
*/
.year {
	    font-weight: bold;
	    font-family: 'Open Sans', sans-serif;
	    color: #F4FAFF;
	    font-size: 115%;
	  }

.emph {
	color: #FF64B1;
	font-weight: bold;
	font-size: 120%;
	font-family: 'Dosis', sans-serif;
}

.authors {
		font-style: italic;
		font-size: 100%;
}


#whatsnew ul li:before{
	content: " ";
}

#links ul li:before{
	content: " ";
}

/*-------------------------wrapperの指定*/   
#wrapper {  
  width: 1200px;  
  margin: 0 auto;  
}  
  
/*-------------------------headerの指定*/   
header {  
  height: 500px;  
  margin: 0;  
  padding: 0;  
}  
/*-------------------------contentsの指定*/  
section {  
	width: 900px;  
	padding-top: 0px;
	padding-left: 25px;
	padding-right: 25px;
	float: left;  
	padding-bottom: 10px;
}  
  
/*-------------------------sidebarの指定*/  
sidebar {  
/*	background-color: #210B61; */
/*	color: #FFFFFF; */
    font-family: 'Dosis', sans-serif;
    font-size: 100%;
	width: 240px;  
	float: right;  
/*	position: fixed;
*/	text-align: left;
	padding-left: 5px;
/*	border-style: solid; border-color: #ffffff #330066 #ffffff #ffffff; */
}  

.negative {
	background-color: #210B61;
}
  
/*-------------------------footerの指定*/  
footer {  
	width:200px;
	float:left;
	position:fixed;
	text-align: right;
	bottom: 0px;
}  

 @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

 #ja {
 	font-family: 'Noto Sans Japanese', sans-serif;
 }

@media print, screen and (max-width: 1000px) {

  #wrapper {
    width:auto;
    margin:0;
  }

  header, section, sidebar, footer {
    float:none;
    position:static;
    width:auto;
  }

  header, sidebar, footer {
    text-align: left;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  header {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  section {
    padding-top: 20px;
    margin-bottom: 0;
  }

}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
    padding-top: 40px;
  }
}

